body {
  background: url("/asas.webp") no-repeat center center/cover;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 700;
  position: relative;
}

/****************************************************************
                            SIMPLE EVENT HANDLLERS
  *****************************************************************/
.container {
  display: flex;
  justify-content: space-around;
}

.example {
  backdrop-filter: blur(5px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  font-size: 20px;
  border: 2px solid aliceblue;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  color: aliceblue;
  padding: 70px;
  width: 100px;
  justify-content: center;
  align-items: center;
}

button {
  margin-top: 20px;
  padding: 10px 19px;
  font-size: 15px;
  border-radius: 5px;
  outline: none;
  border: none;
}
